:root{
    --fundo:#C0C0C0;
    --cartao-frente:#808080;
    --cartao-verso:#696969;
    --destaque:#696969;
    --preto:#000000;
    --branco:#ffffff;
}

body{
    background-color: var(--fundo);
}

footer{
    background-color:var(--preto);
    position:fixed;
    botton: 0;
    color:  var(--branco);
    width: 100%;
    text-align: center;
}